html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex img {
  display: flex;
  width: 100%;
}

.banner h2 {
  display: inline;
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}

.banner p {
  font-size: 2rem;
}

.img-flex {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.banner {
  left: 50%;
  transform: translate(-50%);
  padding: 0 1rem;
  position: absolute;
  bottom: 1rem;
  max-width: 50em;
}
